     $estilos: (
        centro: center,
        oscuro: #212121,
        rosa3: #FFB5A7,
        rosa1: lightpink,
        rosahover: deeppink,
        borde: double
     );

     @mixin tamaño($ancho, $alto) {
        width : $ancho;
        height: $alto;
    }

/** Etiquetas principales **/

body{
    background-image: linear-gradient(225deg, #d6d4f1 0, #dad3ef 6.25%, #dfd2ed 12.5%, #e3d0ea 18.75%, #e7cfe8 25%, #eacfe4 31.25%, #edcee1 37.5%, #f0cdde 43.75%, #f2cdda 50%, #f4cdd6 56.25%, #f5cdd3 62.5%, #f5cdcf 68.75%, #f5cdcb 75%, #f5cec8 81.25%, #f4cec5 87.5%, #f3cfc2 93.75%, #f1d0c0 100%);
    display: grid;
    justify-content: space-between;
    grid-template-areas: 
    "header header header"
    "nav nav nav" 
    "main main main" 
    "footer footer footer";
    row-gap: 5px;
}

article{
    justify-content: map-get($estilos, centro);
    justify-items: map-get($estilos, centro);
    padding: 10px 5px 10px 5px ;
}


a{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    text-align: map-get($estilos, centro);
}
h2{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
h3{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}
h4{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

ul{
    padding-left: 0;

    li {
        font-family: 'Josefin Sans', sans-serif;
        display: inline;
        position: relative;
        font-size: 20px;
        margin: 10px 10px 10px 10px;
    }
}

main{
    grid-area: main;
    border: 10px 10px 10px 10px;
    border-style: map-get($estilos, borde);
    background-image: linear-gradient(225deg, #d6d4f1 0, #dad3ef 6.25%, #dfd2ed 12.5%, #e3d0ea 18.75%, #e7cfe8 25%, #eacfe4 31.25%, #edcee1 37.5%, #f0cdde 43.75%, #f2cdda 50%, #f4cdd6 56.25%, #f5cdd3 62.5%, #f5cdcf 68.75%, #f5cdcb 75%, #f5cec8 81.25%, #f4cec5 87.5%, #f3cfc2 93.75%, #f1d0c0 100%);
}

input{
    @include tamaño(250px, 20px); 
    transition: all 2s;
}

input:focus{
    @include tamaño(400px, 50px);
    font-size: x-large;

}

/** Clases **/

header {
    background-image: linear-gradient(225deg, #d6d4f1 0, #dad3ef 6.25%, #dfd2ed 12.5%, #e3d0ea 18.75%, #e7cfe8 25%, #eacfe4 31.25%, #edcee1 37.5%, #f0cdde 43.75%, #f2cdda 50%, #f4cdd6 56.25%, #f5cdd3 62.5%, #f5cdcf 68.75%, #f5cdcb 75%, #f5cec8 81.25%, #f4cec5 87.5%, #f3cfc2 93.75%, #f1d0c0 100%);
    padding: 50px 20px 50px 20px;
    border-style: map-get($estilos, borde);
    grid-area: header;
    display: grid;
    justify-content: map-get($estilos, centro);
    align-items: map-get($estilos, centro);

    #barralogo{
        display: grid;
        justify-content: map-get($estilos, centro);
        align-content: map-get($estilos, centro);
    }
    .logo{
        @include tamaño(200px, 200px);
        border-radius: 100%;    
    }

    #titulo{
        font-family: 'Playball', cursive;
    }
   
}

nav{
    background-image: linear-gradient(225deg, #d6d4f1 0, #dad3ef 6.25%, #dfd2ed 12.5%, #e3d0ea 18.75%, #e7cfe8 25%, #eacfe4 31.25%, #edcee1 37.5%, #f0cdde 43.75%, #f2cdda 50%, #f4cdd6 56.25%, #f5cdd3 62.5%, #f5cdcf 68.75%, #f5cdcb 75%, #f5cec8 81.25%, #f4cec5 87.5%, #f3cfc2 93.75%, #f1d0c0 100%);
    padding: 5px 5px 5px 5px;
    border: 15px 15px 15px 15px;
    border-style: map-get($estilos, borde);
    grid-area: nav;

    .nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 0;
  
        .nav-link {
          color: map-get($estilos, oscuro);
          transition: all 0.5s;
        }
      
        .nav-link:hover{
          color: map-get($estilos, rosahover);
        }
  }
}

main {
    .imagenes {
        width: 50%;
        height: 50%;
    } 

    .caption {
        color: map-get($estilos, rosahover);
    }

    .img-thumbnail{
        border-radius: 100%;
    }

} 
footer {
    background-image: linear-gradient(225deg, #d6d4f1 0, #dad3ef 6.25%, #dfd2ed 12.5%, #e3d0ea 18.75%, #e7cfe8 25%, #eacfe4 31.25%, #edcee1 37.5%, #f0cdde 43.75%, #f2cdda 50%, #f4cdd6 56.25%, #f5cdd3 62.5%, #f5cdcf 68.75%, #f5cdcb 75%, #f5cec8 81.25%, #f4cec5 87.5%, #f3cfc2 93.75%, #f1d0c0 100%);
    border: 10px 10px 10px 10px;
    border-style: map-get($estilos, borde);
    grid-area: footer;
}

 .gridfooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    text-align: map-get($estilos, centro);

          #barralogo{
              display: grid;
              justify-content: map-get($estilos, centro);
              align-content: map-get($estilos, centro);
          }
          .logo{
              @include tamaño(200px, 200px);
              border-radius: 100%;    
          }

          .nav-link {
                    color: map-get($estilos, oscuro);
                    transition: all 0.5s;
          }
          .nav-link:hover{
                    color: map-get($estilos, rosa3);
          }

          .logocontacto{
                    @include tamaño(50px, 50px);
          }

          .contenedor__interno--footer{
            display: flex;
            flex-direction: column;
            align-items: map-get($estilos, centro);
            text-align: map-get($estilos, centro);
            justify-content: map-get($estilos, centro);
         }
            }
/** trabajos.html **/

.col{
    .diseños__tamaño{
        @include tamaño(350px, 350px);
    }
}

/** diseñadora.html **/

.row h1{
        font-family: 'Playball', cursive;
}

.row h2{
    text-align: map-get($estilos, centro);
}
  

/** reseñas.html **/

.testimonios{
    display: flex;
    align-items: map-get($estilos, centro);
    .testimonios__tamaños{
        @include tamaño(300px, 300px);
        border: 5px map-get($estilos, borde) map-get($estilos, oscuro);
    }
}

   



/** recomendaciones.html **/

section .diseños__vid{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: map-get($estilos, centro);
    align-items: map-get($estilos, centro);
    justify-content: map-get($estilos, centro);
    text-align: map-get($estilos, centro);
}


/** contacto.html **/

.contenedor__formulario{
    display: flex;
    justify-content: map-get($estilos, centro);

     .formulario{
        text-align: map-get($estilos, centro);

        .form-control{
            @extend .formulario;
        }    
      
        .form-label{
            @extend .formulario; 
            text-decoration: none;
         
        }
        .btn{
            background-color: map-get($estilos, rosa1);
            border: none;
        }
        .btn:hover{
            background-color: map-get($estilos, rosahover);
        }
        
     }      

    }


/** MQ **/

@media screen and (min-width: 320px){

body{
     display: grid;
     justify-content: space-between;
     grid-template-areas: 
         "header" 
         "nav" 
         "main"
         "footer";
     align-content: map-get($estilos, centro);
     }
     
header{
    .contacto{
        display: none;       
        }
        #barralogo{
        display: none;     
        }
    }

    .nav{
        flex-direction: column;
        align-items: map-get($estilos, centro);
    }

    .gridfooter{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 5px;
        justify-content: map-get($estilos, centro);
        align-content: map-get($estilos, centro);

        .contacto{
            display: none; 
            }
            #barralogo{
            display: none; 
            }
    }

    .col .diseños__tamaño{
        @include tamaño(250px, 250px);
    }
    
   .testimonios{
    display: grid;
    justify-items: map-get($estilos, centro);
    text-align: map-get($estilos, centro);
    .testimonios__tamaños{
        @include tamaño(200px, 200px);
        border: 5px map-get($estilos, borde) map-get($estilos, oscuro);
    }
}

   .caption{
    font-size: 20px;
   }

   .diseños__vid {
    max-width: 100%;
   }

} 


@media screen and (min-width: 768px){   
   

    header{       
        background-image: linear-gradient(225deg, #d6d4f1 0, #dad3ef 6.25%, #dfd2ed 12.5%, #e3d0ea 18.75%, #e7cfe8 25%, #eacfe4 31.25%, #edcee1 37.5%, #f0cdde 43.75%, #f2cdda 50%, #f4cdd6 56.25%, #f5cdd3 62.5%, #f5cdcf 68.75%, #f5cdcb 75%, #f5cec8 81.25%, #f4cec5 87.5%, #f3cfc2 93.75%, #f1d0c0 100%);
        padding: 50px 20px 50px 20px;
        border-style: double;
        grid-area: header;
        display: grid;
        justify-content: map-get($estilos, centro);
        align-items: map-get($estilos, centro);

        #barralogo{
            display: grid;
            justify-content: map-get($estilos, centro);
            align-content: map-get($estilos, centro);
        }
    
        .logo{
            @include tamaño(200px, 200px);
            border-radius: 100%;    
        }
    }

    .nav{
        flex-direction: row;
    }
 
     .gridfooter{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        justify-content: map-get($estilos, centro);
        align-content: map-get($estilos, centro);

        #barralogo{
            display: grid;
            justify-content: map-get($estilos, centro);
            align-content: map-get($estilos, centro);
        }
    
        .logo{
            @include tamaño(200px, 200px);
            border-radius: 100%;    
        }
    }

    .testimonios{
        display: flex;
        border: 10px 10px 10px 10px;
        border-style: map-get($estilos, borde);

        .testimonios__tamaños{
            @include tamaño(250px, 250px);
            border: 5px map-get($estilos, borde) map-get($estilos, oscuro);
        }
    }


    .col{
        .diseños__tamaño{
            @include tamaño(350px, 350px);
        }
    }

    .caption{
        font-size: 45px;
       }


 }

 @media screen and (min-width: 1024px){   
   
    body{
        display: grid;
        justify-content: space-between;
        grid-template-areas: 
        "header header header"
        "nav nav nav" 
        "main main main" 
        "footer footer footer";
        row-gap: 5px;
    }

    .nav{
        flex-direction: row;
    }


    .testimonios{
        border: 10px 10px 10px 10px;
        border-style: map-get($estilos, borde);

        .testimonios__tamaños{
            @include tamaño(300px, 300px);
            border: 5px map-get($estilos, borde) map-get($estilos, oscuro);
        }
    }
    
}